# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android 빌드 관련 추가
android/.cxx/
android/app/.cxx/
android/app/local.properties
android/app/debug.keystore
android/.gradle/
android/app/build/

# Windows 관련 추가
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake

# macOS 관련 추가
macos/Flutter/ephemeral/
macos/.gradle/
macos/.cocoapods/

# Web 관련 추가
web/.dart_tool/
web/build/

# Linux 관련 추가
linux/flutter/ephemeral/
linux/.cxx/
linux/build/

# 기타 불필요한 파일 추가
*.log
*.lock
pubspec.lock
*.iml